body {
    font-family: Arial, sans-serif;
    width: 100px;
    font-size: 0.8em;
    color: #2b2b2b;
}

form {
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 0.2em;
}

form label {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

form label img {
    margin: 0 0.5em 0 0.5em;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}

input[type="radio"]+label {
    background-color: #ccc;
}

input[type="radio"]:hover+label {
    background-color: #ececec;
}

input[type="radio"]:checked+label {
    background-color: #9cf78c;
}

#options {
    margin-top: 0.5em;
    color: #8d8d8d;
    text-decoration: none;
    text-align: center;
}